* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #556485;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.blog-name {
  font-size: 2rem;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav .a {
  color: inherit;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:hover {
  background-color: #3f4b63;
  height: 100%;
}
